<!DOCTYPE html>
<html>
<head>
    <title>Wordle Game</title>
</head>
<body>
    <h1>Wordle Game</h1>
    <form method="post" action="{{ url_for('worlde') }}" >
        <input type="text" name="user_guess" placeholder="Enter your guess">
        <button type="submit">Submit Guess</button>
    </form>
    <p>{{ feedback }}</p>

    <!-- iframe version below  -->
    <iframe height="700px" width="100%" allow="web-share; fullscreen" style="border:none; width: 100% !important; position: static;display: block !important; margin: 0 !important;" name="c79a9220ae1a7334dc8ad713f9573939b3e06bce8b15b6558005d29452ad59f8" src="https://amuselabs.com/pmm/wordrow?id=7f30dd6e&set=c79a9220ae1a7334dc8ad713f9573939b3e06bce8b15b6558005d29452ad59f8&embed=1"> </iframe>
</body>
</html>
